@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600;1,700&family=Poppins:wght@100;200;300;400&display=swap');

.wrap {
    background-color: rgba(255,255,255,0.7);
    width: 800px;
    color: black;
    margin: 20px auto;
    padding: 15px;
    transition: 0.3s;
}

body {
    background: url(images/c.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 239, 239);
    font-family: 'Poppins', sans-serif;
    color:rgb(57, 57, 57)
}